

.container{
    display: flex;
    height: 50vh;
    width: 100%;

    border-radius: 12px;
    border: 1px solid rgb(200, 200, 190);
}


.main{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.chart{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 10vh;
}

.filter h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(160, 168, 160);
}

.filter select{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80px;

}